/* global setting */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* global styling */
html body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5em; /* 1em = 2inches */
}

a {
  color: #333;
  text-decoration: none;
}
h1,
h2,
h3 {
  padding: 10px 0;
}
/* p {
  margin: 10px;
} */
/* Apply some responsive rule */
.container {
  margin: auto;
  max-width: auto;
  overflow: auto;
  padding: 0 20px;
}
/* Navigation */
#navbar {
  background: white;
  overflow: hidden;
  color: rgb(2, 2, 2);
  box-shadow: 5px 5px 10px gray;
}
#republic {
  overflow: hidden;
  color: rgb(2, 2, 2);
}
#republic .logo {
  width: 70px;
  float: left;
}
.rp {
  margin-left: 100px;
  line-height: 1.2em;
}
#republic .top {
  margin-top: 15px;
  text-decoration-line: underline;
}
#navbar a {
  color: rgb(1, 1, 153);
}
/* removing the bullets in the list */
#navbar ul {
  list-style: none;
  /* float: right; */
}
/* float list items in the left to have them horizontally align */
#navbar ul li {
  float: right;
}
/* convert anchor link to block elements to appl some padding */
#navbar ul li a {
  display: block;
  padding: 31px 20px;
}
#navbar h1 {
  float: left;
  padding-top: 20px;
}

/* Navigation using pseudo selector */
#navbar ul li a:hover {
  background: rgb(248, 248, 177);
  color: maroon;
}

#navbar ul li a.active {
  background: rgba(50, 51, 48, 0.1);
}

.cover {
  max-width: auto;
  height: auto;
  width: 100%;
  margin-top: 5px;
}
.video-content {
  max-width: auto;
  width: 100%;
  background: linear-gradient(rgb(228, 225, 225), rgb(209, 229, 248));
  margin-top: 5px;
  padding-bottom: 30px;
  box-shadow: -0 -5px rgb(209, 229, 248);
}
.video {
  max-width: auto;
  width: 100%;
}

img {
  box-shadow: 0.3px 0.3px 2px;
}
h1 {
  float: left;
  clear: both;
}

.video-content h1 {
  background: linear-gradient(rgb(228, 225, 225), rgb(209, 229, 248));
  padding: 5px 19.95rem;
}

.sec {
  height: 700px;
  padding-top: 50px;
  background-color: #131313;
  margin: auto;
  max-width: auto;
  overflow: auto;
  padding: 0 20px;
}
.spot {
  max-width: auto;
  width: 100%;
  margin: 0 auto;
  display: block;
}
.spot_photo {
  width: 400px;
  height: 250px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  max-width: auto;
}
.ts h1 {
  color: #14addc;
  text-transform: uppercase;
  margin-top: 3%;
  padding-bottom: 65px;
  letter-spacing: 5px;
}
.spot_photo-1 {
  margin-top: 10%;
  left: 1%;
  z-index: 1;
}
.spot_photo-2 {
  margin-top: 13%;
  left: 10%;
  z-index: 2;
}
.spot_photo-3 {
  margin-top: 16%;
  left: 19%;
  z-index: 3;
}
.spot_photo-4 {
  margin-top: 19%;
  left: 28%;
  z-index: 4;
}
.spot_photo-5 {
  margin-top: 22%;
  left: 37%;
}
.spot_photo-6 {
  margin-top: 19%;
  left: 46%;
  z-index: 4;
}
.spot_photo-7 {
  margin-top: 16%;
  left: 55%;
  z-index: 3;
}
.spot_photo-8 {
  margin-top: 13%;
  left: 64%;
  z-index: 2;
}
.spot_photo-9 {
  margin-top: 10%;
  left: 73%;
  z-index: 1;
}
.spot_photo:hover {
  outline: 5px solid #fff;
  transform: scale(1.05) translateY(-20px);
  z-index: 20;
  box-shadow: -10px -10px 25px lightblue;
}
.spot:hover .spot_photo:not(:hover) {
  transform: scale(0.9);
}
#boxes {
  font-family: serif;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  display: flex;
}

.events {
  width: auto;
  max-width: 1100px;
  height: auto;
  margin-top: 50px;
  flex-flow: row wrap;
  display: flex;
}

.box {
  margin: 12px;
  width: 500px;
  height: 515px;
  box-shadow: -1px 0 10px #000000;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s;
}
.box:hover {
  outline: 1px dotted rgb(8, 8, 8);
  transform: scale(1.05) translateY(-20px);
  z-index: 20;
  box-shadow: -10px -10px 25px lightblue;
}
.events:hover .box:not(:hover) {
  transform: scale(0.9);
}
#boxes img {
  width: 500px;
}

#boxes p {
  line-height: 1.3em;
  font-size: 14px;
}

h5 {
  font-size: 40px;
  padding: 30px;
  background: linear-gradient(rgb(228, 225, 225), rgb(209, 229, 248));
}

.inner-footer{
  margin: 0;
  padding: 0;
  background-color: #272727;
}

.social-links{
  display: flex;
}

.social-links ul{
  padding: 10px;
  display: flex;
  width: 300px;
  height: 30px;
  margin: auto;
}

.social-items{
  list-style: none;
}

.social-items a{
  padding: 10px 20px;
  font-size: 35px;
  color: #6cccc6;
  transition: all .25s;
}

.social-items a:hover{
    color: #01887f; 
}

.quick-links{
  display: flex;
  width: 450px;
  height: 70px;
  margin: auto;
}

.quick-links ul{
  display: flex;
}

.quick-items{
  list-style: none;
  padding-top: 30px;
}

.quick-items a{
  text-decoration: none;
  padding: 0px 15px;
  font-size: 15px;
  color: #fff;
  transition: all .25s;
}

.quick-items a:hover{
  color: #6cccc6;
}

.outer-footer{
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  background-color: #3f3f3f;
}
@media all and (max-width: 3000px){
  nav ul, header, section, footer, img, div{
    display: block;
  }
  .spot_photo{
    display: block;
  }
  footer{
    text-align: center;
    height: auto;
  }
  footer .social-links{
    text-align: center;
    height: auto;
}
footer .quick-links{
  text-align: center;
  height: auto;
}
}